---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<div class="header">
		<div class="header1">
		  <div class="main-nav">
			<button class="home">Home</button>
			<img
			  class="logo-samtone-ind-main-icon"
			  alt=""
			  src="/public/logo-samtone-ind-main@2x.png"
			/>
  
			<button class="company">
			  <div class="company1">Company</div>
			  <img class="company-child" alt="" src="./public/vector-4.svg" />
			</button>
			<button class="products">
			  <div class="products1"><a href="/posts">Products</a></div>
			  <img class="products-child" alt="" src="./public/vector-4.svg" />
			</button>
			<button class="applications">
			  <div class="applications1">Applications</div>
			  <img
				class="applications-child"
				alt=""
				src="./public/vector-4.svg"
			  />
			</button>
			<button class="contactus">
			  <div class="contact-us">Contact US</div>
			  <img class="contactus-child" alt="" src="./public/vector-4.svg" />
			</button>
			<button class="search">
			  <div class="search-parent">
				<div class="search1">Search</div>
				<img class="vector-icon" alt="" src="./public/vector.svg" />
			  </div>
			  <img class="search-child" alt="" src="./public/vector-4.svg" />
			</button>
		  </div>
		  <header class="top-nav" id="top_nav">
			<div class="bg-top-nav"></div>
			<img
			  class="icn-linkedin-icon"
			  alt=""
			  src="./public/icn-linkedin.svg"
			/>
  
			<img class="icn-email-icon" alt="" src="./public/icn-email.svg" />
  
			<div class="telephone">
			  <div class="div">+91 1234567890</div>
			  <img class="icn-tel-icon" alt="" src="./public/icn-tel.svg" />
			</div>
			<img class="icn-events-icon" alt="" src="./public/icn-events.svg" />
  
			<img class="icn-career-icon" alt="" src="./public/icn-career.svg" />
  
			<button class="signin" autofocus="{true}">
			  <div class="sign-in">Sign in</div>
			  <img class="icn-signin-icon" alt="" src="./public/icn-signin.svg" />
			</button>
		  </header>
		</div>
	  </div>
</Layout>


