---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<div class="header">
		<div class="header1">
		  <div class="main-nav">
			<button class="home">Home</button>
			<img
			  class="logo-samtone-ind-main-icon"
			  alt=""
			  src="/public/logo-samtone-ind-main@2x.png"
			/>
  
			<button class="company">
			  <div class="company1">Companys</div>
			  <img class="company-child" alt="" src="./public/vector-4.svg" />
			</button>
			<button class="products">
			  <div class="products1">Products</div>
			  <img class="products-child" alt="" src="./public/vector-4.svg" />
			</button>
			<button class="applications">
			  <div class="applications1">Applications</div>
			  <img
				class="applications-child"
				alt=""
				src="./public/vector-4.svg"
			  />
			</button>
			<button class="contactus">
			  <div class="contact-us">Contact US</div>
			  <img class="contactus-child" alt="" src="./public/vector-4.svg" />
			</button>
			<button class="search">
			  <div class="search-parent">
				<div class="search1">Search</div>
				<img class="vector-icon" alt="" src="./public/vector.svg" />
			  </div>
			  <img class="search-child" alt="" src="./public/vector-4.svg" />
			</button>
		  </div>
		  <header class="top-nav" id="top_nav">
			<div class="bg-top-nav"></div>
			<img
			  class="icn-linkedin-icon"
			  alt=""
			  src="./public/icn-linkedin.svg"
			/>
  
			<img class="icn-email-icon" alt="" src="./public/icn-email.svg" />
  
			<div class="telephone">
			  <div class="div">+91 1234567890</div>
			  <img class="icn-tel-icon" alt="" src="./public/icn-tel.svg" />
			</div>
			<img class="icn-events-icon" alt="" src="./public/icn-events.svg" />
  
			<img class="icn-career-icon" alt="" src="./public/icn-career.svg" />
  
			<button class="signin" autofocus="{true}">
			  <div class="sign-in">Sign in</div>
			  <img class="icn-signin-icon" alt="" src="./public/icn-signin.svg" />
			</button>
		  </header>
		</div>
	  </div>
</Layout>

<style>
.home {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 484px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: #323232;
  text-align: left;
  display: inline-block;
}
.logo-samtone-ind-main-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 247px;
  height: 100px;
  object-fit: cover;
}
.company1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.company-child {
  position: absolute;
  height: 20%;
  width: 6.82%;
  top: 50%;
  right: 0;
  bottom: 30%;
  left: 93.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.company {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 545px;
  width: 88px;
  height: 20px;
}
.products1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.products-child {
  position: absolute;
  height: 20%;
  width: 7.23%;
  top: 50%;
  right: 0;
  bottom: 30%;
  left: 92.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.products {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 644px;
  width: 83px;
  height: 20px;
}
.applications1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  width: 102px;
  height: 23px;
}
.applications-child {
  position: absolute;
  height: 17.39%;
  width: 5.41%;
  top: 43.48%;
  right: 0;
  bottom: 39.13%;
  left: 94.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.applications {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 738px;
  width: 111px;
  height: 23px;
}
.contact-us {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray-100);
  text-align: left;
}
.contactus-child {
  position: absolute;
  height: 20%;
  width: 5.94%;
  top: 50%;
  right: 0;
  bottom: 30%;
  left: 94.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contactus {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 860px;
  width: 101px;
  height: 20px;
}
.search1 {
  position: absolute;
  top: 0;
  left: 16px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  width: 56px;
  height: 16px;
}
.vector-icon {
  position: absolute;
  height: 77.78%;
  width: 19.44%;
  top: 22.22%;
  right: 80.56%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-child,
.search-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 18px;
}
.search-child {
  height: 22.22%;
  width: 7.41%;
  top: 55.56%;
  right: 0;
  bottom: 22.22%;
  left: 92.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 972px;
  width: 81px;
  height: 18px;
}
.bg-top-nav,
.main-nav {
  position: absolute;
  top: 60px;
  left: 187px;
  width: 1053px;
  height: 100px;
}
.bg-top-nav {
  top: 0;
  left: 0;
  background: linear-gradient(
    -90deg,
    #fce7f0,
    #fffde9 33.23%,
    #e4f2e3 57.39%,
    #d1eefc 85.27%
  );
  width: 1440px;
  height: 60px;
}
.icn-email-icon,
.icn-linkedin-icon {
  position: absolute;
  height: 33.33%;
  width: 1.39%;
  top: 46.67%;
  right: 35.28%;
  bottom: 20%;
  left: 63.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icn-email-icon {
  height: 28.33%;
  width: 1.53%;
  top: 50%;
  right: 32.36%;
  bottom: 21.67%;
  left: 66.11%;
}
.div {
  position: absolute;
  top: 0;
  left: 24px;
  font-weight: 500;
}
.icn-tel-icon {
  position: absolute;
  height: 95.05%;
  width: 12.97%;
  top: 4.95%;
  right: 87.03%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.telephone {
  position: absolute;
  top: 27px;
  left: 994px;
  width: 148px;
  height: 20.2px;
}
.icn-career-icon,
.icn-events-icon {
  position: absolute;
  height: 36.67%;
  width: 1.53%;
  top: 45%;
  right: 38.06%;
  bottom: 18.33%;
  left: 60.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icn-career-icon {
  height: 41.67%;
  width: 2.08%;
  top: 41.67%;
  right: 40.97%;
  bottom: 16.67%;
  left: 56.94%;
}
.sign-in {
  position: absolute;
  top: 0;
  left: 22px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-steelblue);
  text-align: left;
}
.icn-signin-icon,
.signin {
  position: absolute;
  top: 1px;
  left: 0;
  width: 17px;
  height: 28.3px;
}
.signin {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 27px;
  left: 1162px;
  width: 78px;
  height: 29.3px;
}
.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-steelblue);
  font-family: var(--font-montserrat);
}
.header,
.header1 {
  height: 198px;
  overflow: hidden;
}
.header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
}
.header {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
}
@media screen and (max-width: 420px) {
  .header1 {
    width: 400px;
    height: 198px;
  }
}

</style>
