---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,800&display=swap"
	  />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
	<body>
		<slot />
	</body>
</html>
<style is:global>
	body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-steelblue: #2274a5;
  --color-darkslategray-100: rgba(50, 50, 50, 0.6);
  --color-black: #000;

  /* Paddings */
  --padding-xl: 20px;
}
</style>
